
android/build/*
android/build/

# Visual Studio Code
.vscode
# Godot-specific ignores
.import/
*.import
*.xlsx
*.apk
*.aab
export_presets.cfg
data/

# Mono-specific ignores
.mono/
data_*/

# Keystore
*.keystore
